<h1>Name Template</h1>
<form action="/form_action">
  <select class="form-control" name="Variable-Template">
  <option>var1</option>
  <option>var2</option>
  <option>var3</option>
  </select>

  <button type="submit" class="btn-success">Button Text</button>
</form>
