<div id="user-results">
    <h2 id="user-sentence">Your sentence: </h2>
    <span><%= @user_input %></span>
    <h2 id="confirmation">You searched for a(n): </h2>
    <span2><%= @user_search %></span2> <span3>match of the word: </span3><span2><%= @user_word %></span2>
    <h2 id="result">Number of Words Matched:</h2>
    <span4><%= @result %></span4>
</div>
