.jumbotron {
  background-color: transparent;
  color: white;
  text-align: center;
}

body {
  font-family: monospace;
  background-color: #534292;
}

form {
  text-align: center;
}

#top-field {
  padding-top: 5%;

}

#user_string, #word_select{
  border-color: #534292;
}

#form-column {
  background-color: #fff;
  border-radius: 30px;
}

.radio-inline input{
  visibility: hidden;
}

.radio-inline label {
  color: #fff;
  font-size: 1.2em;
  margin-top: 5%;
}

.radio-inline label:hover {
  text-decoration: underline;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  border: 2px solid #fff;
}

.btn {
  background-color: #534292;
  color: #fff;
  border-color: #fff;
  margin-top: 10%;
  font-size: 1.5em;
}

.btn:hover {
  background-color: #b4b6ba;
  color: #fff;
  border-color: #b4b6ba;
}

footer {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 30%;
}

/***************************

PAGE: WORD_COUNT_OUTPUT

****************************/

#user-results {
  color: #fff;
}

#confirmation {
  margin-top: 25%;
}

span {
  font-size: 1.5em;
}

span2 {
  font-size: 1.7em;
  font-style: italic;
}

span3 {
  font-size: 1.5em
}

#result {
  margin-top: 25%;
}

span4 {
  font-size: 2em
}

#go-back {
  margin-top: 10%;
}
